<div class="row">
        <div class="col-sm-3"><label>
          Min Length</label>
          <input class="form-control" type="number" ng-model="minLength" \>
          <p>Minimum Word Count for the document</p>
        </div>
        <div class="col-sm-3">
          <label>Total Points</label>
          <input class="form-control" type="number" ng-model="totalPoints" ng-change=updateValues(totalPoints,catLen)>
          <p>Maximum Points assigned</p>
        </div>
        <div class="col-sm-2">
          <label>Def Value</label>
          <input class="form-control" type="number" ng-model=defValue >
          <p>Minimum value for each grading category</p>
        </div>        
        <div class="col-sm-2">
          <label>Decrease By</label>
          <input class="form-control" type="number" ng-model=decreaseBy>
          <p>How much to decrease the score when the autograder finds an error</p>
        </div>
        <div class="col-sm-2">
          <label>Citations</label>
          <input class="form-control" type="number" ng-model="citations">
          <p>The number of inline citations required</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <label>Key Words (List of words seperated by commas for autoGrader to find in the text)</label>
          <textarea class="form-control" ng-model="keyWords"></textarea>
        </div>
      </div>
      <!-- Grading Buttons -->
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-group" ng-click="gradeEssay({
          minLength:minLength,
          totalPoints:totalPoints,
          decreaseBy:decreaseBy,
          defValue:defValue,
          keyWords:keyWords
        },paper)">Auto Grade</button>
          <button class="btn btn-primary btn-group" ng-click="saveGradedPaper()">Save Graded Paper</button>
          <button class="btn btn-primary btn-group" ng-click="resetGradedPapers()">Reset Graded Papers</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <span class="btn btn-default btn-file">
              <strong>Upload CSV file</strong> 
              <input type="file" id="csvfile" accept="csv">
          </span>
        </div>
        <div class="col-sm-6">
          <h2>Batch Grading</h2>
          <button class="btn btn-group btn-warning" ng-click="gradePapersFromCSV(csv,{
          minLength:minLength,
          totalPoints:totalPoints,
          decreaseBy:decreaseBy,
          defValue:defValue,
          keyWords:keyWords
        })">Grade Papers From CSV</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          
          <h3>Import groups</h3>
          <span class="btn btn-default btn-file">
              <strong>Upload Group CSV file</strong> 
              <input type="file" id="groupsfile" accept="csv">
          </span>
          
          <p>Groups saved: {{$storage.groups.length}}</p>
          <button class="btn btn-danger" ng-click="$storage.groups=[];">Reset Groups</button>
          <button class="btn btn-warning" ng-click="groupsCSV()">Set Up Groups</button>
        </div>
        {{allNames}}

      </div>
      <div class="row">
        <div class="col-sm-12">
          <a class="btn" ng-href="#/gradedPapers">View All Graded Papers</a>
        </div>
      </div>