<!-- Shows Comments available to insert -->
<input class="filter form-control" placeholder="Enter the kind of comments you're looking for" ng-model="filter" ></input>
      <ul class="myComments col-sm-12" scrolly="showMore()">
        <!-- repeat each comment element -->
        <li ng-repeat="comment in $storage.allComments | filter:filter track by $index" >
        
        
          <div class="row card">
            
              <div ng-switch on="showFullComment" class="">
                <div class="col-sm-1" ng-click="showFullComment=!showFullComment">
                  <span class="glyphicon glyphicon-triangle-bottom"></span>
                </div>

                <div class="col-sm-4" >

                  <span><strong>Section:</strong></span>
                  <span  ng-model="comment.category">{{comment.category}}</span>        
                </div>
                <div class="col-sm-6">
                  <span><strong>Subsection:</strong></span>
                  <span ng-model="comment.subsection">{{comment.subsection}}</span>
                </div>
              <div class="row" ng-switch-when="false" >

              </div>

              <div class="" ng-switch-when="true">
                <ng-include src="'views/commentCard.html'"></div>
              </div>
            </div>

          </div>


          
        </li>
      </ul>