<div class="row" >
	
	<div class="col-sm-8">
		<div id="slider">
			<input id="rangeinput" type="range" step=".1" min="0.0" max="1.0" class="form-control" ng-model="filterScore"/>
			<!-- <input class="bar" type="range" id="rangeinput" value="50" > -->
			<span class="highlight"></span>
			<output id="rangevalue">{{filterScore*100}}%</output>
		</div>
		<!-- Make sure you can see numbers on range -->
		
	</div>				
	<div class="col-sm-2">
		Average: <strong>{{average() | number:1}}%</strong>
	</div>
	<div class="col-sm-2">
		Results Shown: {{filteredScores(filterScore).length}}
	</div>
	<div class="col-sm-12 myFilteredPapers" scrolly="showMore()">
		<table class="table" >
			<tr>
				<th>Name</th>
				<th>Essay</th>
				<th>Group</th>
				<th>Score</th>
				<th>Grade</th>
			</tr>
			<tr ng-repeat="myPaper in filteredScores(filterScore)" ng-switch on="selection">
				<td >
					<button class='btn btn-success' ng-click="setPaper(myPaper)">{{myPaper.studentName}} </button></td>
				<!-- show myPaper for grading -->
				<td>
					{{ myPaper.text | limitTo: 20 }}{{myPaper.text.length > 20 ? '...' : ''}}
				</td>
				<!-- <td ng-show="Show" ng-switch-when="true">
					<ng-include src="'views/showPaper.html'"></ng-include>
				</td> -->
				<td>{{myPaper.studentGroup}}</td>
				<td>{{getTotal(myPaper.categories) | number:0}}</td>
				<td> {{getGrade(getTotal(myPaper.categories),myPaper.totalPoints)}}</td>
				
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<!-- selected paper goes here -->
		<!-- {{$storage.sPaper.text}} -->
		<ng-include src="'views/editorView.html'"></ng-include>
	</div>
</div>
