<div class="container">
	<div class="row paper" ng-repeat="paper in papers">
		<!-- hiding options -->
		<div class="row">
		    <button class="btn btn-default options" ng-click="show=!show">Show / Hide Options</button>
	  </div>

		<div class="row">
			<div class="row ">
				 <div class="col-sm-12 text-right">
				{{paper.studentName}}
				</div>
			</div>
			<div class="row">
				 <div class="col-sm-12  text-right">
				{{paper.studentGroup}}
			</div>
			</div>
			<div class="row">
		    <div class="col-sm-12">
		    	<h1 class="text-center">{{paper.title}}</h1>
		    </div>				
			</div>
	    <div class="row">
	    	<div class="col-sm-12 paper-text" ng-bind-html="replacedText(paper.text,paper.myFeedback)"></div>
	    </div>
	     
	    <div class="row">
	    	<div class="col-sm-12">
	    		
		    	<hr>
			    <h3>
			      Some Additional Comments
			    </h3>
			    <ul class="">
			    	<li ng-repeat="myComment in paper.myComments track by $index"> 
			        <p ng-show="{{myComment.example.length<1}}">
			        {{myComment.comment}}
			        
			        <button class="btn btn-danger" ng-click="removeComment(myComment)" ng-show="show">-</button>
			        </p>
			      </li>
			      <li ng-repeat="myComment in paper.myFeedback track by $index"> 
			        <p ng-show="{{myComment.example.length<1}}">
			        {{myComment.comment}}
			        
			        <button class="btn btn-danger" ng-click="removeComment(myComment)" ng-show="show">-</button>
			        </p>
			      </li>
			    </ul>
	    	</div>
	    </div>
	    <!-- grading table -->
	    <div class="row">
	    	<div class="col-sm-12">
	    		
		      <table class="table">
		        <tr ng-repeat="category in paper.categories" >
		            <td class="col-md-4">{{category.name}}</td>
		            <td class="col-md-4">{{category.value < .5*defValue ? 'Needs Work':''}}</td>
		            <td class="col-md-4"><strong>{{category.value.toFixed(1)}}</strong>
		              <button class="btn btn-default" ng-click="category.value=category.value+decreaseBy" ng-show="show">+</button>
		              <button class="btn btn-default" ng-click="category.value=category.value-decreaseBy" ng-show="show">-</button>
		            </td>

		        </tr>
		        <tr>
		          <td>Final Grade</td>
		          <td></td>
		          <td ng-init="myTotal=paper.total"><strong>{{myTotal.toFixed(1)}} / {{paper.totalPoints}} - {{
		          	(myTotal/paper.totalPoints)*100 | number:1}}% 
		          	{{getGrade(myTotal,paper.totalPoints)}}

		          </strong>
		          </td>
		        </tr>
		      </table>
	    	</div>
	    </div>

		
	</div>




</div>