<div class="jumbotron">
  <h1>Essay Marker</h1>
  <p class="lead">
    The Ultimate Tool For Grading Student Papers
  </p>
</div>

<div class="row ">
  <ul>
    {{categories[0].errors[0].on}}
  </ul>

  <!-- grading -->
  <div class="col-sm-5">
    <div class="row">
      <div class="col-sm-8">
        Current Grade: {{paper.total / paper.totalPoints*100 | number:1}}%
      </div>
      <div class="col-sm-4" >

        Words: {{getWC(paper.text)}}
      </div>
    </div>
    <!-- Student Name -->
    <div class="row">
      <div class="col-sm-9">
        <input type="text" class="form-control" ng-model="paper.studentName" placeholder="Student's Full Name"></input>
      </div>  
      <div class="col-sm-3">
        <input type="text" class="form-control" ng-model="paper.studentGroup" placeholder="Group"></input>
      </div>    
    </div>

    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control" ng-model="paper.title" placeholder="Title of the Essay"></input>
      </div>
    </div>
    
    <!-- text of the essay -->
    <!-- Old textangular  ta-toolbar=[['h1','h2','h3'],['bold','italics','underline']] text-angular -->
    <div >
      <textarea class="form-control my-small-area" ng-model="paper.text" rows="20"></textarea>
    </div>
  </div>
  
  <div class="col-sm-7">
    {{paper.total}}
    <div class="row">
      <button class="btn btn-secondary btn-group" ng-class="{'btn-primary':is(1)}" ng-click="section(1)">Comments</button>
      <button class="btn btn-secondary btn-group " ng-click="section(2)" ng-class="{'btn-primary':is(2)}">Errors</button>
      <button class="btn btn-secondary btn-group " ng-click="section(3) " ng-class="{'btn-primary':is(3)}">Grade</button>
      <button class="btn btn-secondary btn-group " ng-click="section(4)" ng-class="{'btn-primary':is(4)}">RegEx</button>
      <button class="btn btn-secondary btn-group " ng-click="section(5)" ng-class="{'btn-primary':is(5)}">Plagiarism</button>
      <button class="btn btn-secondary btn-group " ng-click="section(6)" ng-class="{'btn-primary':is(6)}">New Comment</button>
    </div>
    <div class="row" ng-switch on="thisSection">
      <div class="allComments" ng-switch-when="1" >
          <ng-include src="'views/commentsView.html'"></ng-include>
      </div>
    <!-- Auto Grading Options -->
      <div class="row" ng-switch-when="2">
          <ng-include src="'views/errorList.html'" ng-controller="MainCtrl"></ng-include>
      </div>
      <div ng-switch-when="3">
          <ng-include src="'views/autoGrading.html'" ng-controller="autoGradeCtrl"></ng-include>
      </div>
      <div ng-switch-when="4">
          <ng-include src="'views/checkExpressions.html'"></ng-include>
      </div>
      <!-- Plaigarism Checker -->
      <div class="row-fluid" ng-switch-when="5">
          <iframe src="http://www.paperrater.com/plagiarism_checker/" style="zoom:0.60" width="55%" height="800" frameborder="0" width="100%"
          class="container well"></iframe>
      </div>
      <!-- Check Expressions -->
      <div ng-switch-when="6">
          <ng-include src="'views/createNewComment.html'"></ng-include>
      </div>
    </div>

</div>
<!-- Feedback -->
  
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <button class="btn btn-default" ng-click="show=!show">Show / Hide Options</button>        
      </div>
    
    <label>Specific Feedback</label>
      <ul>
        
        <li ng-repeat="myFeed in paper.myFeedback">{{myFeed.comment}} {{myFeed.example ? '(EX: '+myFeed.example+')':''}}
        <strong ng-show="myFeed.deduct"><em>{{-1*myFeed.deduct}}</em></strong>
        <button class="btn btn-danger" ng-click="paper.myFeedback.splice($index,1); addBackToCategory(myFeed.category,paper)" ng-show="show">-</button>
        </li>
      </ul>
    <label>
      Additional Comments
    </label>
    <ul class="">
      <li ng-repeat="myComment in paper.myComments track by $index"> 
        <p>{{myComment.comment}}
        <strong ng-show="myComment.deduct"><em>{{-1*myComment.deduct}}</em></strong>
        <span ng-show="{{myComment.example.length>0}}">
        (Example: {{myComment.example}})
        </span>
        <button class="btn btn-danger" ng-click="paper.myComments.splice($index,1); addBackToCategory(myComments.category, paper)" ng-show="show">-</button>
        </p>
      </li>
    </ul>
    <!-- grading table -->
    <div class="row">
      <table class="table">
        <tr ng-repeat="category in paper.categories" >
            <td class="col-md-4">{{category.name}}</td>
            <td class="col-md-4"></td>
            <td class="col-md-4"><strong>{{category.value.toFixed(1)}}</strong>
              <button class="btn btn-default" ng-click="category.value=category.value+paper.decreaseBy" ng-show="show">+</button>
              <button class="btn btn-default" ng-click="category.value=category.value-paper.decreaseBy" ng-show="show">-</button>
            </td>

        </tr>
        <tr>
          <td>Final Grade</td>
          <td></td>
          <td><strong>{{getTotal(paper.categories).toFixed(1)}} / {{paper.totalPoints}}</strong> -- 
            {{((getTotal(paper.categories)/paper.totalPoints)*100).toFixed(1)}}% </td>
        </tr>
      </table>
    </div>
  </div>
  </div>
</div>
