<div class="jumbotron">
  <h1>Essary Marker</h1>
  <p class="lead">
    The Ultimate Tool For Analyzing Student Papers
  </p>
</div>

<div class="row ">
  <!-- grading -->
  <div class="col-sm-8">
    <div class="textAngular" text-angular ng-model="text">
      <textarea></textarea>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="row">
      <button class="btn btn-secondary btn-group " ng-click="section(1)">Comments</button>
      <button class="btn btn-secondary btn-group " ng-click="section(2)">AutoGrading</button>
    </div>
    <!-- Shows Comments available to insert -->
    <div class="row" ng-show="is(1)">
      <input class="filter form-control" placeholder="Filter" ng-model="filter"></input>
      <ul class="myComments" >
        <!-- repeat each comment element -->
        <li ng-repeat="comment in comments | filter:filter">
          <div class="row">
            <div class="col-sm-6">
              <label>Section:</label>
              <div  ng-model="comment.category">{{comment.category}}</div>        
            </div>
            <div class="col-sm-6">
              <label for="">Subsection:</label>
              <div ng-model="comment.subsection">{{comment.subsection}}</div>
            </div>
          </div>
          <div class="row">
            <label>Comment:</label>
            <select ng-model="comment.selectedComment" ng-options="newComment.slice(0,10) for newComment in comment.comments ">
            </select>
          </div>
            
          
          <div class="row">
            {{comment.selectedComment | limitTo: 120 }}{{comment.selectedComment.length > 120 ? '&hellip;' : ''}}
          </div>
          <div class="row">
            <label>Example</label>
            <input type="text" ng-model="comment.example" value="{{comment.example}}"></input>
            <button class="btn btn-primary" ng-click="addComment(comment, $index)">Add Comment</button>       
          </div>
          
        </li>
      </ul>
    </div>

    <!-- Shows Grading Options -->
    <div class="row" ng-show="is(2)">
      <button class="btn btn-primary" ng-click="grade(text)">Grade</button>
      <div class="row" ng-model="Grade.minLength">
        {{Grade.minLength}}
      </div>
      <table class="table">
        <tr ng-repeat="category in categories" >
            <td class="col-md-4">{{category.name}}</td>
            <td class="col-md-4">{{category.value < .5*defValue ? 'Needs Work':''}}</td>
            <td class="col-md-4"><strong>{{category.value}}</strong></td>     
        </tr>
        <tr>
          <td>Final Grade</td>
          <td></td>
          <td><strong>{{getTotal()}} / {{totalPoints}}</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>
  <div class="row">
    <label for="">
      Current Comments
    </label>
    <ul class="" ng-repeat="myComment in myComments track by $index">
      <li>
        <p>
        {{myComment.selectedComment}}
        
        <span ng-show="{{myComment.example.length>0}}">
        (Example: {{myComment.example}})
        </span>
        <button class="btn btn-danger" ng-click="removeComment(myComment)">-</button>
        </p>
      </li>
    </ul>
  </div>
</div>
